<div class="grid">
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
  <div class="cell"></div>
</div>

<!-- <mat-accordion>
  <mat-expansion-panel *ngFor="let item of items | async" class="panel" id="el{{ item.id }}">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="panel__container"> #{{ item.id }} </span>

        <span *ngIf="item.brand && item.flavor" class="panel__title">
          {{ item.brand }} - {{ item.flavor }}
        </span>

        <span *ngIf="!item.brand || !item.flavor" class="panel__title">
          Vazio
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div class="form">
        <mat-form-field appearance="outline">
          <mat-label>Marca</mat-label>
          <input matInput type="text" [(ngModel)]="item.brand" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Sabor</mat-label>
          <input matInput type="text" [(ngModel)]="item.flavor" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <textarea matInput [(ngModel)]="item.description" rows="5"></textarea>
        </mat-form-field>

        <div class="form__buttons">
          <button mat-raised-button (click)="resetContainer(item)">
            Esvaziar
          </button>

          <button mat-raised-button color="primary" (click)="updateContainer(item)">
            Atualizar
          </button>
        </div>
      </div>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion> -->
